In [1]:
import pandas as pd

In [3]:
ballad = pd.read_csv("../Data/ballad_test.csv")
ballad.head()

,가수명,노래제목,발매일,가사,좋아요수,순위
0,WSG워너비 (가야G),그때 그 순간 그대로 (그그그),2022-07-09,잘 지냈지? 조금은 어색해 요즘 좋아 보여 인사 나누며 사실 궁금한 게 너무 많았는...,79774,1
1,경서,나의 X에게,2022-04-24,우리 다시 만날래 예쁘게 빛나던 모든 추억들이 너무 그리워 너의 품에 안길래 이 밤...,101199,2
2,주호,내가 아니라도,2022-03-25,사랑이었다 별거 없던 내 하루에 빛이 돼준 단한 사람 나보다 나를 더 아껴 주던 너...,50533,4
3,김민석 (멜로망스),취중고백,2021-12-19,뭐하고 있었니 늦었지만 잠시 나올래 너의 집 골목에 있는 놀이터에 앉아 있어 친구들...,137092,6
4,임영웅,우리들의 블루스,2022-05-02,잊지는 말아요 함께 했던 날들 눈물이 날 때면 그대 뒤를 돌아보면 돼요 아프지 말아...,71005,7

In [4]:
ballad.tail()

,가수명,노래제목,발매일,가사,좋아요수,순위
1935,멜로망스,동경,2022-06-08,우린 서로 너무도 다른 세상에 살아왔죠 한번 스쳐 지났을 뿐 그 후로 난 멀리서 이...,1218,1996
1936,곽진언,당신만이,2014-09-20,눈부신 햇살이 비춰주어도 제게 무슨 소용있겠어요 이토록 아름다운 당신만이 나에게 빛...,58098,1997
1937,허각,비가 내리기 전에,2021-06-20,찬란했었던 우리의 사랑이 언제부턴가 어둠을 데려와 자꾸 감추려고 하지 마 너의 얼굴...,6590,1998
1938,김은영,"각자의 자리, 각자의 시간",2022-07-21,텅 빈 방안에 가만히 누워 한참을 멍하니 바라보았지 홀로 외로이 이 긴 밤에 무너져...,155,1999
1939,태연 (TAEYEON),그리고 하나,2013-03-13,쉽게 상처 받고 쉽게 눈물나고 쉽게 아프던 날 기억하나요 지금도 그래요 여전히 같아...,53028,2000

In [4]:
# 가수명,제목,가사,발매일,이미지,유투브주소,
# m_singer,m_title,m_lyrics,m_date,m_image,m_link

In [5]:
len(ballad)

1940

In [6]:
id_list = pd.DataFrame(list(range(1,1941)),index=None)

In [7]:
id_list

         0
0        1
1        2
2        3
3        4
4        5
...    ...
1908  1909
1909  1910
1910  1911
1911  1912
1912  1913

[1913 rows x 1 columns]

In [8]:
ballad_db = ballad[['가수명','노래제목','가사','발매일','앨범사진']]

In [9]:
ballad_db = pd.DataFrame(ballad_db)

In [10]:
ballad_db = pd.concat([id_list,ballad_db,id_list,id_list],axis=1)

In [11]:
column = ['m_id','m_singer','m_title','m_lycrics','m_date','m_image','m_link','d_id']
ballad_db.columns = column
ballad_db.head()

,m_id,m_singer,m_title,m_lycrics,m_date,m_image,m_link,d_id
0,1,WSG워너비 (가야G),그때 그 순간 그대로 (그그그),잘 지냈지? 조금은 어색해 요즘 좋아 보여 인사 나누며 사실 궁금한 게 너무 많았...,2022-07-09,https://cdnimg.melon.co.kr/cm2/album/images/11...,1,1
1,2,경서,나의 X에게,우리 다시 만날래 예쁘게 빛나던 모든 추억들이 너무 그리워 너의 품에 안길래 이 ...,2022-04-24,https://cdnimg.melon.co.kr/cm2/album/images/10...,2,2
2,3,주호,내가 아니라도,사랑이었다 별거 없던 내 하루에 빛이 돼준 단한 사람 나보다 나를 더 아껴 주던 ...,2022-03-25,https://cdnimg.melon.co.kr/cm2/album/images/10...,3,3
3,4,김민석 (멜로망스),취중고백,뭐하고 있었니 늦었지만 잠시 나올래 너의 집 골목에 있는 놀이터에 앉아 있어 친구...,2021-12-19,https://cdnimg.melon.co.kr/cm2/album/images/10...,4,4
4,5,임영웅,우리들의 블루스,잊지는 말아요 함께 했던 날들 눈물이 날 때면 그대 뒤를 돌아보면 돼요 아프지 말...,2022-05-02,https://cdnimg.melon.co.kr/cm2/album/images/10...,5,5

In [12]:
# !pip install sqlalchemy
# !pip install pymysql

In [13]:
import pymysql
from sqlalchemy import create_engine

In [14]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/musik")
conn = engine.connect()

In [17]:
ballad_db.to_sql(name='music_playlist',con=engine,if_exists='append',index=False)

In [18]:
balladList = pd.read_sql_table('music_playlist',conn)
balladList

,m_id,m_singer,m_title,m_lycrics,m_date,m_image,m_link,d_id
0,1,WSG워너비 (가야G),그때 그 순간 그대로 (그그그),잘 지냈지? 조금은 어색해 요즘 좋아 보여 인사 나누며 사실 궁금한 게 너무 많았...,2022-07-09,https://cdnimg.melon.co.kr/cm2/album/images/11...,1,1
1,2,경서,나의 X에게,우리 다시 만날래 예쁘게 빛나던 모든 추억들이 너무 그리워 너의 품에 안길래 이 ...,2022-04-24,https://cdnimg.melon.co.kr/cm2/album/images/10...,2,2
2,3,주호,내가 아니라도,사랑이었다 별거 없던 내 하루에 빛이 돼준 단한 사람 나보다 나를 더 아껴 주던 ...,2022-03-25,https://cdnimg.melon.co.kr/cm2/album/images/10...,3,3
3,4,김민석 (멜로망스),취중고백,뭐하고 있었니 늦었지만 잠시 나올래 너의 집 골목에 있는 놀이터에 앉아 있어 친구...,2021-12-19,https://cdnimg.melon.co.kr/cm2/album/images/10...,4,4
4,5,임영웅,우리들의 블루스,잊지는 말아요 함께 했던 날들 눈물이 날 때면 그대 뒤를 돌아보면 돼요 아프지 말...,2022-05-02,https://cdnimg.melon.co.kr/cm2/album/images/10...,5,5
...,...,...,...,...,...,...,...,...
1908,1909,터보,회상 (December),겨울 오면은 우리 둘이서 항상 왔었던 바닷가 시린 바람과 하얀 파도는 예전 그대로였...,1997-01-01,https://cdnimg.melon.co.kr/cm/album/images/003...,1909,1909
1909,1910,이석훈,고백,좋은 사람 만나 행복해야 해 너는 웃고 있지만 나는 웃을 수가 없는걸 그래 난 알고...,2011-06-02,https://cdnimg.melon.co.kr/cm/album/images/012...,1910,1910
1910,1911,다비치,나의 첫사랑,그때의 나는 너를 만나서 하나부터 열까지 모든 순간들이 소중했어 내 첫사랑 잊고 싶...,2022-05-16,https://cdnimg.melon.co.kr/cm2/album/images/10...,1911,1911
1911,1912,미스에스,이 나이 먹고 뭐했길래 (Feat. 정슬기),다시 처음으로 돌아갈 수 있다면 아마 너를 사랑하는 일은 안했을텐데 그 날밤 그 카...,2010-09-10,https://cdnimg.melon.co.kr/cm/album/images/010...,1912,1912
1912,1913,하은 (포맨),혼코노 (Honkono),이 동전 하나로 뭘 할 수 있을까 고민 고민하다가 나 혼자 이곳에 왔어 익숙한 번호...,2019-10-17,https://cdnimg.melon.co.kr/cm2/album/images/10...,1913,1913