In [2]:
import pandas as pd
import numpy as np

# 행복 train_data '감정'컬럼추가

In [4]:
happy = pd.read_csv("../Data/ballad_happy20.csv")
happy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가수명     20 non-null     object
 1   노래제목    20 non-null     object
 2   발매일     20 non-null     object
 3   가사      20 non-null     object
 4   좋아요수    20 non-null     int64
dtypes: int64(1), object(4)
memory usage: 928.0+ bytes

In [5]:
happy['감정'] = 'happy'
happy.head()

,가수명,노래제목,발매일,가사,좋아요수,감정
0,양다일,Darling,2020-11-23,Oh darling 처음 널 만나면 수줍은 대화들로 사랑에 빠질 거야 My darl...,10907,happy
1,장범준,잠이 오질 않네요,2020-10-24,당신은 날 설레게 만들어 조용한 내 마음 자꾸만 춤추게 해 얼마나 얼마나 날 떨리게...,159018,happy
2,백아연,어디라도,2020-11-18,우연의 다른 이름은 운명이란 걸 배웠죠 우리 사랑의 끝이 없는 걸 이제서야 알았죠 ...,1622,happy
3,김제훈,Love Again,2017-02-06,언제부터였을까 따뜻한 휴식을 찾고 있을 때 찾고 있을 때 그때부터였을까 맘이 포근해...,980,happy
4,김제훈,잠잠,2020-03-17,오랜만에 거길 가봤어 아무도 없는 둘만이 알던 곳 함께 걷던 거리에 서서 아무 말도...,548,happy

# 슬픔 train_data '감정'컬럼추가

In [6]:
sad = pd.read_csv("../Data/ballad_sad20.csv")
sad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가수명     20 non-null     object
 1   노래제목    20 non-null     object
 2   발매일     20 non-null     object
 3   가사      20 non-null     object
 4   좋아요수    20 non-null     int64
dtypes: int64(1), object(4)
memory usage: 928.0+ bytes

In [7]:
sad['감정'] = 'sad'
sad.head()

,가수명,노래제목,발매일,가사,좋아요수,감정
0,정효빈,처음이라서,2019-04-16,떨어질 줄 몰랐던 너의 품도 잡은 손에 스치던 봄바람도 떨리던 입맞춤도 맞춰 걷던 ...,58777,sad
1,포맨 (4MEN),눈 떠보니 이별이더라,2017-10-24,분명 나는 꿈을 꾼 거다 눈 떠보니 이별이더라 휴대폰을 확인해 봤더니 다시 봐도 이...,115695,sad
2,이우,내 안부,2019-07-16,내 소식 들었지 너와 헤어지고 참 많이 울고 힘들게 버티다 이해심이 많은 좋은 사람...,64527,sad
3,윤토벤,서툰 이별을 하려해 (Feat.전상근),2019-08-01,우리 이제 헤어지기로해 너도 알잖아 우린 충분했다는걸 이별이 무서워 자꾸 피해보지만...,81248,sad
4,사이로(415),우리 둘 사이로,2019-08-29,Forget me close your eyes Forget me close your...,5998,sad

# 무관심 train_data '감정'컬럼추가

In [32]:
indif = pd.read_csv("../Data/ballad_indifference20.csv")
indif.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가수명     20 non-null     object
 1   노래제목    20 non-null     object
 2   발매일     20 non-null     object
 3   가사      20 non-null     object
 4   좋아요수    20 non-null     int64
dtypes: int64(1), object(4)
memory usage: 928.0+ bytes

In [33]:
indif['감정'] = 'indifference'
indif.head()

,가수명,노래제목,발매일,가사,좋아요수,감정
0,백예린 (Yerin Baek),그럴때마다,2021-09-10,반복된 하루 사는 일에 지칠 때면 내게 말해요 항상 그대의 지쳐있는 마음에 조그만 ...,33255,indifference
1,Collective Arts (콜렉티브아츠),나의 그늘,2017-07-27,나의 그늘이 좋다고 하는 너에게 무슨 말을 해야 좋을까 이 순간에도 가난한 나의 마...,4344,indifference
2,Sondia,Moonlight,2019-12-31,Moonlight 나를 감싸안아 데려다줘 그럼 너의 온기를 간직하겠어 내가 어디에 ...,4461,indifference
3,윤현상,잊는다는 게,2015-03-13,잊는다는 게 참 그래요 사랑하다가 이별하게 되면 그때서야 못해줬던 게 생각이 나요 ...,29999,indifference
4,윤종신,말꼬리,2011-05-31,비는 오고 너는 가려 하고 내 마음 눅눅하게 잠기고 낡은 흑백영화 한 장면처럼 내 ...,46043,indifference

# 후회 train_data '감정'컬럼추가

In [10]:
reg = pd.read_csv("../Data/ballad_regret20.csv")
reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가수명     20 non-null     object
 1   노래제목    20 non-null     object
 2   발매일     20 non-null     object
 3   가사      20 non-null     object
 4   좋아요수    20 non-null     int64
dtypes: int64(1), object(4)
memory usage: 928.0+ bytes

In [11]:
reg['감정'] = 'regret'
reg.head()

,가수명,노래제목,발매일,가사,좋아요수,감정
0,어반자카파,아직도 나를 사랑한다면,2016-05-27,노래를 불러요 우릴 헤어지게 만든 그 노래를 이 일만 끝나면 더 잘할 수 있다고 그...,7655,regret
1,수지,I Love You Boy,2017-10-11,그댈 보기 위해 먼 길을 건너왔네요 힘든 길인걸 알면서도 그저 걸었죠 I fly f...,33264,regret
2,박새별,사랑이 우릴 다시 만나게 한다면,2013-05-28,사랑이 우릴 다시 만나게 해준다면 나 그대에게 해주고 싶은 말이 너무 많아요 그댈 ...,12564,regret
3,폴킴,사랑 알 수 없나봐,2018-12-16,사랑 알 수 없나 봐 어떤 마음인지 자꾸 의심하게 돼 청개구리처럼 반대로 하게 되는...,41914,regret
4,길구봉구,"다시, 우리",2018-05-24,뚜루루 온종일 비가 내렸지 눅눅히 젖은 신발을 보다가 엉겨 붙어버린 기억의 먼지 한...,33582,regret

---
# 감정 train_data_set 중복체크하기

In [14]:
# happy, sad 중복 체크
happy[happy['노래제목'].isin(sad['노래제목'])]

Empty DataFrame
Columns: [가수명, 노래제목, 발매일, 가사, 좋아요수, 감정]
Index: []

In [34]:
# happy, indif 중복 체크
happy[happy['노래제목'].isin(indif['노래제목'])]

Empty DataFrame
Columns: [가수명, 노래제목, 발매일, 가사, 좋아요수, 감정]
Index: []

In [16]:
# happy, reg 중복 체크
happy[happy['노래제목'].isin(reg['노래제목'])]

Empty DataFrame
Columns: [가수명, 노래제목, 발매일, 가사, 좋아요수, 감정]
Index: []

In [35]:
# sad, indif 중복 체크
sad[sad['노래제목'].isin(indif['노래제목'])]

Empty DataFrame
Columns: [가수명, 노래제목, 발매일, 가사, 좋아요수, 감정]
Index: []

In [22]:
# sad, reg 중복 체크
sad[sad['노래제목'].isin(reg['노래제목'])]

Empty DataFrame
Columns: [가수명, 노래제목, 발매일, 가사, 좋아요수, 감정]
Index: []

In [36]:
# indif, reg 중복 체크
indif[indif['노래제목'].isin(reg['노래제목'])]

Empty DataFrame
Columns: [가수명, 노래제목, 발매일, 가사, 좋아요수, 감정]
Index: []

In [37]:
# reg, indif 중복 체크
reg[reg['노래제목'].isin(indif['노래제목'])]

Empty DataFrame
Columns: [가수명, 노래제목, 발매일, 가사, 좋아요수, 감정]
Index: []

---
# train_data set 합치기

In [39]:
train_data = pd.concat([happy,sad,reg,indif], axis=0, ignore_index=True)

In [40]:
train_data.to_csv("../Data/train_data.csv", index=None)

In [42]:
pd.read_csv("../Data/train_data.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가수명     80 non-null     object
 1   노래제목    80 non-null     object
 2   발매일     80 non-null     object
 3   가사      80 non-null     object
 4   좋아요수    80 non-null     int64
 5   감정      80 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.9+ KB

---
# 2000곡 데이터와 train_data_set의 중복값 제거

In [45]:
test = pd.read_csv("../Data/melon.csv")

In [48]:
# train_data와 중복값 확인
dupl = test[test['노래제목'].isin(train_data['노래제목'])].index
len(dupl)

60

In [50]:
# 중복값 제거하기
test = test.drop(dupl, axis=0)

In [51]:
# index 재정렬
test = test.reset_index(drop=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1940 entries, 0 to 1939
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가수명     1940 non-null   object
 1   노래제목    1940 non-null   object
 2   발매일     1940 non-null   object
 3   가사      1940 non-null   object
 4   좋아요수    1940 non-null   object
 5   순위      1940 non-null   int64
dtypes: int64(1), object(5)
memory usage: 91.1+ KB

In [53]:
test.to_csv('../Data/ballad_test.csv', index=None)

In [3]:
pd.read_csv("../Data/ballad_test.csv")

,가수명,노래제목,발매일,가사,좋아요수,순위
0,WSG워너비 (가야G),그때 그 순간 그대로 (그그그),2022-07-09,잘 지냈지? 조금은 어색해 요즘 좋아 보여 인사 나누며 사실 궁금한 게 너무 많았는...,79774,1
1,경서,나의 X에게,2022-04-24,우리 다시 만날래 예쁘게 빛나던 모든 추억들이 너무 그리워 너의 품에 안길래 이 밤...,101199,2
2,주호,내가 아니라도,2022-03-25,사랑이었다 별거 없던 내 하루에 빛이 돼준 단한 사람 나보다 나를 더 아껴 주던 너...,50533,4
3,김민석 (멜로망스),취중고백,2021-12-19,뭐하고 있었니 늦었지만 잠시 나올래 너의 집 골목에 있는 놀이터에 앉아 있어 친구들...,137092,6
4,임영웅,우리들의 블루스,2022-05-02,잊지는 말아요 함께 했던 날들 눈물이 날 때면 그대 뒤를 돌아보면 돼요 아프지 말아...,71005,7
...,...,...,...,...,...,...
1935,멜로망스,동경,2022-06-08,우린 서로 너무도 다른 세상에 살아왔죠 한번 스쳐 지났을 뿐 그 후로 난 멀리서 이...,1218,1996
1936,곽진언,당신만이,2014-09-20,눈부신 햇살이 비춰주어도 제게 무슨 소용있겠어요 이토록 아름다운 당신만이 나에게 빛...,58098,1997
1937,허각,비가 내리기 전에,2021-06-20,찬란했었던 우리의 사랑이 언제부턴가 어둠을 데려와 자꾸 감추려고 하지 마 너의 얼굴...,6590,1998
1938,김은영,"각자의 자리, 각자의 시간",2022-07-21,텅 빈 방안에 가만히 누워 한참을 멍하니 바라보았지 홀로 외로이 이 긴 밤에 무너져...,155,1999
1939,태연 (TAEYEON),그리고 하나,2013-03-13,쉽게 상처 받고 쉽게 눈물나고 쉽게 아프던 날 기억하나요 지금도 그래요 여전히 같아...,53028,2000