In [1]:
import pandas as pd

In [2]:
melon = pd.read_csv("../Data/melon.csv")
melon.head()

,가수명,노래제목,발매일,가사,좋아요수,순위
0,WSG워너비 (가야G),그때 그 순간 그대로 (그그그),2022-07-09,잘 지냈지? 조금은 어색해 요즘 좋아 보여 인사 나누며 사실 궁금한 게 너무 많았는...,79774,1
1,경서,나의 X에게,2022-04-24,우리 다시 만날래 예쁘게 빛나던 모든 추억들이 너무 그리워 너의 품에 안길래 이 밤...,101199,2
2,멜로망스,사랑인가 봐,2022-02-18,너와 함께 하고 싶은 일들을 상상하는 게 요즘 내 일상이 되고 너의 즐거워하는 모습...,146814,3
3,주호,내가 아니라도,2022-03-25,사랑이었다 별거 없던 내 하루에 빛이 돼준 단한 사람 나보다 나를 더 아껴 주던 너...,50533,4
4,임영웅,사랑은 늘 도망가,2021-10-11,눈물이 난다 이 길을 걸으면 그 사람 손길이 자꾸 생각이 난다 붙잡지 못하고 가슴만...,169216,5

In [3]:
melon.tail()

,가수명,노래제목,발매일,가사,좋아요수,순위
1995,멜로망스,동경,2022-06-08,우린 서로 너무도 다른 세상에 살아왔죠 한번 스쳐 지났을 뿐 그 후로 난 멀리서 이...,1218,1996
1996,곽진언,당신만이,2014-09-20,눈부신 햇살이 비춰주어도 제게 무슨 소용있겠어요 이토록 아름다운 당신만이 나에게 빛...,58098,1997
1997,허각,비가 내리기 전에,2021-06-20,찬란했었던 우리의 사랑이 언제부턴가 어둠을 데려와 자꾸 감추려고 하지 마 너의 얼굴...,6590,1998
1998,김은영,"각자의 자리, 각자의 시간",2022-07-21,텅 빈 방안에 가만히 누워 한참을 멍하니 바라보았지 홀로 외로이 이 긴 밤에 무너져...,155,1999
1999,태연 (TAEYEON),그리고 하나,2013-03-13,쉽게 상처 받고 쉽게 눈물나고 쉽게 아프던 날 기억하나요 지금도 그래요 여전히 같아...,53028,2000

In [4]:
melon.isnull().sum()

가수명     0
노래제목    0
발매일     0
가사      0
좋아요수    0
순위      0
dtype: int64

In [5]:
melon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가수명     2000 non-null   object
 1   노래제목    2000 non-null   object
 2   발매일     2000 non-null   object
 3   가사      2000 non-null   object
 4   좋아요수    2000 non-null   object
 5   순위      2000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 93.9+ KB